---
layout: default
---
<!-- Page Header -->
<!-- <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');
				    background-repeat: repeat;
				    background-size: 100px 100px;
				    height: 90px;">
    <div class="container">
        <div class="row">
		<div class="site-heading">
		</div>
        </div>
    </div>
</header> -->

<!-- <header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');
				    background-repeat: repeat;
				    background-size: 100px 100px;
				    height: 90px;">
    <div class="container">
        <div class="row">
		<div class="site-heading">
		</div>
        </div>
    </div>
</header> -->

<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                     <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                     <span class="subheading" style="font-size:20pt;weight:600">New York University</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content Test -->
<div class=page-body>
	<span class="js-widget-page d-none"></span>
	<section id=welcome class="home-section wg-hero">
		<div class=home-section-bg></div>
		<div class=container>
			<div class=row>
				<div class="col-12 col-md-4">
					<br>
					<img src="{{site.img-avatar}}" alt="Julia D. Hur" style="width: 100%;height: 100%;object-fit:contain;"> <!-- width=300 height=385 -->
					<br>
					<br>
					<a href="//www.stern.nyu.edu/faculty/bio/julia-hur" 
					   style="color:#4B0082;font-zie:20pt"
					   target="_blank"> NYU-Stern Faculty Profile <strong>&#8594;</strong> </a>
					<br>
					<a href="//shanghai.nyu.edu/academics/faculty/directory/julia-hur" 
					   style="color:#4B0082;font-zie:20pt"
					   target="_blank"> NYU-Shanghai Faculty Profile <strong>&#8594;</strong> </a>
					<br>
					<a href="//www.linkedin.com/in/juliadhur" 
					   style="color:#4B0082;font-zie:20pt"
					   target="_blank"> Linkedln Profile <strong>&#8594;</strong> </a>
					<br>
					<a href="//www.psychologytoday.com/us/blog/gim-goals-incentives-and-meritocracy" 
					   style="color:#4B0082;font-zie:20pt"
					   target="_blank"> Psychology Today Profile <strong>&#8594;</strong> </a>
					<br>
					<a href="{{site.baseurl}}/Hur_CV_June2022.pdf" 
					   style="color:#4B0082;font-zie:20pt"
					   target="_blank"> CV (PDF) <strong>&#8594;</strong> </a>
				</div>
				<div class="col-12 col-md-8 text-left text-md-right" > <!-- style="left:100px" -->
					<div class=hero-lead>
						<p style=font-family:sans-serif;font-size:15pt;line-height:150%>
							<!-- Here start to edit your bio!!--><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- --><!-- -->
							<strong>Julia D. Hur</strong> <!-- Bold fonts included between these two "strong" signs -->
							is a a global network assistant professor of Management and Organizations, NYU, affiliated with Stern School of Business. She holds a PhD in Management and Organizations from the Kellogg School of Management at Northwestern University and an MA in Social Sciences from the University of Chicago. She has taught the courses on leadership and negotiation, including Negotiation Fundamentals, Collaboration, Conflict, and Negotiation, and Management and Organizations, at the Kellogg School of Management and Stern School of Business. 
							<br/><br/>
	
							Her research interests include goals and motivations, incentives, and individual and organizational decision-making. She examines how individuals’ motivation and cognition are shaped by environmental factors, including rewards, social comparison, and organizational decisions, employing a multi-method approach with field studies, laboratory experiments, and archival data. Her work has been published in top academic journals in the field of Management, Marketing, and Psychology: 
							<!-- Here add Journals between two "i" signs to make sure it's in italic"-->
							<i>Journal of Personality and Social Psychology, 
							Journal of Experimental Psychology: General, Organizational Behavior and Human Decision Processes, 
							and Journal of Consumer Research. </i>
							<!-- -->
							Her research has been profiled in 
							<i>The New York Times, The Wall Street Journals, Forbes, The Harvard Business Review,</i>
							<!-- -->
							and many other media outlets.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
